@import "tailwindcss";
@font-face {
  font-family: SN;
  src: url("/fonts/SNPro-Regular.ttf") format("truetype");
}
* {
  @apply box-border;
}
input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none; /* Remove any inner border you don't want */
  border-radius: 100%;
}
input:focus {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--text) !important;
  -webkit-box-shadow:
    var(--shadow-s),
    0 0 0px 1000px var(--bg) inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  background-clip: content-box !important;
  caret-color: var(--text) !important;
}
body {
  color: #fefae0;
  width: 100vw;
  min-height: 100%;
  box-sizing: border-box;
  background-color: var(--bg-light);
  font-family: SN;
  scrollbar-gutter: stable;
  overflow: hidden;
  @apply bg-no-repeat bg-cover m-0 p-0;
}
@theme {
  --font-sn: SN, sans-serif;
  --breakpoint-xs: 40rem;
  --breakpoint-xlg: 90rem;
  --breakpoint-xxlg: 110rem;
  --gradient: linear-gradient(0deg, var(--bg) 90%, var(--bg-light));
  --bg-dark: #582f0e; 
  --bg: #bc6c25; 
  --bg-light: #dda15e;
  --text: #606c38;
  --text-muted: #283618;
  --highlight: oklch(0.5 0.4 250);
  --highlight-hover: oklch(0.6 0.2 270);
  --border: oklch(0.6 0.16 60);
  --border-muted: oklch(0.7 0.15 80);
  --primary: oklch(0.6 0.2 60);
  --secondary: oklch(0.5 0.2 240);
  --danger: oklch(0.5 0.3 30);
  --light-danger: oklch(0.7 0.25 30);
  --warning: oklch(0.5 0.15 100);
  --success: oklch(0.5 0.15 160);
  --info: oklch(0.8 0.2 260);
  --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
  --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
  --shadow-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 10px #00000015;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --gradient: linear-gradient(0deg, var(--bg) 90%, var(--bg-light));
  --bg-dark: var(--color-yellow-950);
  --bg: var(--color-yellow-900);
  --bg-light: var(--color-yellow-800);
  --text: oklch(0.96 0.1 80);
  --text-muted: oklch(0.76 0.1 80);
  --highlight: oklch(0.2 0.2 20);
  --highlight-hover: oklch(0.4 0.2 20);
  --border: oklch(0.4 0.15 80);
  --border-muted: oklch(0.3 0.15 80);
  --primary: oklch(0.76 0.15 80);
  --secondary: oklch(0.5 0.4 180);
  --danger: oklch(0.5 0.3 30);
  --light-danger: oklch(0.3 0.3 30);
  --warning: oklch(0.7 0.15 100);
  --success: oklch(0.7 0.15 160);
  --info: oklch(0.2 0.2 260);
  --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
  --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
  --shadow-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 10px #00000015;
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: var(--bg-dark);
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: var(--bg-light);
    border: 3px solid transparent;
    background-clip: content-box;
    cursor: initial;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.4s ease-out both;
}
.animate-fadeRight {
  animation: fadeRight 0.4s ease-out both;
}
.delay-100 {
  animation-delay: 100ms;
}
.delay-200 {
  animation-delay: 200ms;
}
.delay-300 {
  animation-delay: 300ms;
}
.delay-400 {
  animation-delay: 400ms;
}
.delay-500 {
  animation-delay: 500ms;
}
